{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rегистрация</title>
    <link rel="stylesheet" href="{% static 'main/css/authStyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="banner">
            <h1>KJOY менеджер паролей</h1>
            <h3>KJOY - универсальный менеджер паролей, который надёжно хранит ваши пароли и предоставляет удобное взаимодействие с сервисом.</h3>
        </div>
        <div class="form">
            <img src="https://i.pinimg.com/236x/4d/a8/bb/4da8bb993057c69a85b9b6f2775c9df2.jpg" alt="profile">
            <small>Нет аккаунта? <a> Зарегистрироваться</a></small>
            <input type="email" autocomplete placeholder="Username">
            <input type="password" placeholder="Password">
            <button>Войти</button>
            <a>Забыли пароль?</a>
        </div>
    </div>    
</body>
</html>